@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Caveat+Brush&family=Fredericka+the+Great&display=swap');

.subtitle{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;

}
.dotLine{
    font-style: none;
    font-size:20px;
    border-top:3px dashed black;
}
.total{
    display: flex;
    justify-content: space-between;
    text-align: right;
}
.header{
    margin-top:15px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.edit{
    max-width:15vw;
    min-height:3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    border: none;
    background-color:pink;
    border-radius: 5px;
}
.edit:hover{
    background-color: rgb(246, 126, 146);
}
.amount{
    position:absolute;
    right:20%;
    font-family: 'Caveat Brush', cursive;
}
.price{
    font-family: 'Caveat Brush', cursive;

}
a.menuLink{
    color:black;
    text-decoration:none;
}

  a:hover {
    color: hotpink;
  }
.btnMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.delBtn{
    border:none;
    background:none;
    color:red;
}
.right{
    display: flex;
}

.right .price{
    position:absolute;
    right:5.5%;
    font-family: 'Times New Roman', Times, serif;
}
.cartName{
    font-family: 'Caveat Brush', cursive;

}

.perItem{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: pink;
    padding:20px;
}

.left{
    display: flex;
    flex-direction: row;
    align-items: center;
}