@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Caveat+Brush&family=Fredericka+the+Great&display=swap');
.home{
    margin:1vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height:100vh;
}
.title{
    font-family: 'Berkshire Swash', cursive;
    font-size:70px;
}
.cafeImg{
    min-width:30vw;
}
@media screen and (min-width: 1200px) {
.cafeImg{
    width:40vw;

}
}